@model List<LMS.Model.Employee>

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Search</h2>
<form action="/Account/Search" method="post" enctype="multipart/form-data">

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="EmployeeName">EmployeeName</label>
            <select id="EmployeeName" name="EmployeeName" required>
                @foreach (var emp in Model)
                {
                    <option value="@emp.EmployeeName">@emp.EmployeeName</option>
                }
            </select>
        </div>
    </div>
    <div class="form-group col-md-12">

        <button type="submit" class="btn btn-success">Search</button>
    </div>
</form>
